.Rproj.user
.Rhistory
.RData
.Ruserdata
recordings/Exam 2 Review_ Lecture.WMA
recordings/Chapter 18 _Lecture.MP3
recordings/Chapter 17_ Lecture.mp3
recordings/Chapter 16_ Lecture.mp3
recordings/Chapter 15_ Lecture.WMA
recordings/Chapter 14_ Lecture.WMA
recordings/Chapter 13_ Lecture.WMA
recordings/Chapter 13_ Lecture.wav
recordings/Chapter 12_ Lecture.WMA
recordings/Chapter 11_ Lecture.WMA
recordings/Chapter 10_ Lecture.WMA
